.App {
  text-align: center;
}


/* Table */

.Table {
  width: 100%;
  min-height: calc(100vh - 45px);

  background-color: lightgoldenrodyellow;

  display: flex;
  flex-direction: column;
}

.TableHeader {
  width: 100%;

  padding: 10px auto;

  background-color: teal;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

  text-align: center;
}

/* Backlog */

.BacklogRow {
  width: 100%;

  margin: 5px 0;

  display: flex;
  flex-direction: row;
}

.BacklogCol {
  width: 25%;

  border: 1px solid teal;

  display: flex;
  flex-direction: column;
}

/* Tiles */

.BacklogTile, .TaskTile {
  width: 80%;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.TaskTile {
  border: 1px solid goldenrod;

  background-color: lightyellow;
}

.BacklogTile {
  border: 1px solid red;
  background-color: salmon;
}

.TileTitle {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.TileInfo {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.TileTags {
}

.Tag {
  padding: 3px 5px;

  border: 1px solid darkblue;

  background-color: lightblue;

  color: dodgerblue;

  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}