.App {
  text-align: center;
}


/* Table */

.Table {
  width: 100%;
  min-height: calc(100vh - 45px);

  background-color: rgb(240, 240, 239);

  display: flex;
  flex-direction: column;
}

.TableHeader {
  width: 100%;

  padding: 15px;

  background-color: rgb(31, 130, 187);
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

  text-align: center;
}

.ColHeader {
  color: rgb(31, 130, 187);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.Goal {
  width: 100%;
}

.GoalHeader {
  width: 100%;

  padding: 7px;
  background-color: tomato;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

  text-align: center;
}

.GoalContent {
  padding: 15px;

  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

  text-align: center;

  border: 1px solid tomato;
}

/* Backlog */

.BacklogRow {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.BacklogCol {
  width: 25%;
  padding: 20px 0;

  border: 1px solid rgb(31, 130, 187);;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tiles */

.BacklogTile, .TaskTile {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.TaskTile {
  border: 1px solid goldenrod;

  background-color: lightyellow;
}

.BacklogTile {
  border: 1px solid red;
  background-color: salmon;
}

.TileTitle {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.TileInfo {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.TileTags {
  display: flex;
  flex-direction: row;
}

.Tag {
  padding: 3px 5px;
  margin: 5px;

  border: 1px solid darkblue;
  border-radius: 10px;

  background-color: lightblue;

  color: dodgerblue;

  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.BlockedTile {
  background-color: rgb(187, 182, 179);
  border-color: rgb(24, 23, 22);
}

/* Forms */

.TaskForm, .BacklogForm, .AddTaskForm, .SearchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Buttons */

button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  margin: 0 10px;
}